<launch>
    <arg name="fault_label" default="0" />
    <arg name="fault_name" default="" />
    <arg name="fault_mode" default="0" />
    <arg name="run_id" default="" />
    <arg name="motion_mode" default="straight_0.5ms" />
    <arg name="output_dir" default="/home/wheeltec/R550PLUS_data_collect/log" />
    <arg name="current_port" default="/dev/ttyUSB1" />
    <arg name="current_baud" default="115200" />
    <arg name="wheel_speed_topic" default="" />

    <node name="current_reader"
          pkg="turn_on_wheeltec_robot"
          type="current_reader.py"
          output="screen"
          respawn="false">
        <param name="port" value="$(arg current_port)" />
        <param name="baud" value="$(arg current_baud)" />
        <param name="frame_id" value="current_sensor" />
    </node>

    <node name="data_collector"
          pkg="turn_on_wheeltec_robot"
          type="data_collector.py"
          output="screen"
          respawn="false">
        <param name="fault_label" value="$(arg fault_label)" />
        <param name="fault_name" value="$(arg fault_name)" />
        <param name="fault_mode" value="$(arg fault_mode)" />
        <param name="run_id" value="$(arg run_id)" />
        <param name="motion_mode" value="$(arg motion_mode)" />
        <param name="output_dir" value="$(arg output_dir)" />
        <param name="wheel_speed_topic" value="$(arg wheel_speed_topic)" />
    </node>
</launch>
